# ignore file versions no longer used, but backed up
backup
*.bak
# ignore data inputs
data
# ignore snakemake files
.snakemake
# ignore visual studio code config files
.vscode
# ignore results output (for now)
results
# ignore mac filesystem file
.DS_Store
# ignore run logs
logs
# ignore R temp files
.Rhistory
# ignore unique sample and config files
config/config_*.yaml
config/samples_*.tsv
# ignore vagrant stuff for testing VM
.vagrant
Vagrantfile
# ignore reports folder and test report
reports
.test/report.html
# ignore dev containers for vscode
.devcontainer
# ignore benchmarks
benchmarks
# documentation site
site