# ignore file versions no longer used, but backed up
backup
# ignore data inputs
data
# ignore snakemake files
.snakemake
# ignore visual studio code config files
.vscode
# ignore results output (for now)
results
# ignore mac filesystem file
.DS_Store
# ignore run logs
logs